*{
  background-color: #ede6d3;
  font-family: 'Gravitas One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ysabeau', sans-serif;
}

/*ITEMLIST BUTTON y  VER MAS*/

